## Introduction to Data Science

#### University of Redlands - DATA 101
#### Prof: Joanna Bieri [joanna_bieri@redlands.edu](mailto:joanna_bieri@redlands.edu)
#### [Class Website: data101.joannabieri.com](https://joannabieri.com/data101.html)

---------------------------------------
# Homework Day 12
---------------------------------------

GOALS:

1. Talk about Ethics of Web Scraping
2. Practice web scraping.

----------------------------------------------------------

This homework has **3 questions**, **1 exercise** and **1 optional challenge problem**.

## Important Information

- Email: [joanna_bieri@redlands.edu](mailto:joanna_bieri@redlands.edu)
- Office Hours: Duke 209 <a href="https://joannabieri.com/schedule.html"> Click Here for Joanna's Schedule</a>

## Announcements

**In NEXT WEEK - Data Ethics** This week you should be reading your book or articles.

------------------------------
---------------------

### Web Scraping Ethical Issues

There are some things to be aware of before you start scraping data from the web. 

- Some data is private or protected. Just because you have access to a websites data doesn't mean you are allowed to scrape it. For example, when you log into Facebook or another social media site, you are granted special access to data about your connected people. It is unethical to use that access to scrape their private data!

- Some websites have rules against scraping and will cut of service to users who are clearly scraping data. How do they know? Webscrapers access the website very differently that regular users. If they site has a policy about scraping data then you should follow it and/or content them about getting the data if you have a true academic interest in the data.

- The line between web scraping and plagiarism can be very blurry. Make sure that you are citing where your data comes from AND not just reproducing the data exactly. Always citing the source of your data and make sure you are doing something new with it.

- Ethics are different depending on if you are using the data for a personal project (eg. you just want to check scores for your favorite team daily and print the stuff you care about) vs if you are using the project for your business or website (eg. publishing information to drive clicks to your site/video/account or making money from the data you collect). In the later case it is EXTRA important to respect the original owner of the data. Drive web traffic back to their site, check with them about using their data, etc.

**The Ethical Scraper** (from https://towardsdatascience.com/ethics-in-web-scraping-b96b18136f01):

I, the web scraper will live by the following principles:

- If you have a public API that provides the data I’m looking for, I’ll use it and avoid scraping all together.
- I will always provide a User Agent string that makes my intentions clear and provides a way for you to contact me with questions or concerns.
- I will request data at a reasonable rate. I will strive to never be confused for a DDoS attack.
- I will only save the data I absolutely need from your page. If all I need it OpenGraph meta-data, that’s all I’ll keep.
- I will respect any content I do keep. I’ll never pass it off as my own.
- I will look for ways to return value to you. Maybe I can drive some (real) traffic to your site or credit you in an article or post.
- I will respond in a timely fashion to your outreach and work with you towards a resolution.
- I will scrape for the purpose of creating new value from the data, not to duplicate it.

In [273]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.io as pio
pio.renderers.default = 'colab'

from itables import show

# This stops a few warning messages from showing
pd.options.mode.chained_assignment = None 
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [274]:
my_website = "https://www.basketball-reference.com/teams/SAS/2026.html#per_game_stats"
DF = pd.read_html(my_website)

In [275]:
SPURS = DF[0].copy()
SPURS

,No.,Player,Pos,Ht,Wt,Birth Date,Birth,Exp,College
0,1.0,Victor Wembanyama,C,7-3,235,"January 4, 2004",fr FR,2,NaN
1,5.0,Stephon Castle,PG,6-6,215,"November 1, 2004",us US,1,UConn
2,2.0,Dylan Harper,SG,6-6,220,"March 2, 2006",us US,R,Rutgers University
3,24.0,Devin Vassell,SG,6-5,200,"August 23, 2000",us US,5,Florida State
4,3.0,Keldon Johnson,SF,6-5,220,"October 11, 1999",us US,6,Kentucky
5,40.0,Harrison Barnes,PF,6-8,225,"May 30, 1992",us US,13,UNC
6,30.0,Julian Champagnie,SF,6-8,220,"June 29, 2001",us US,3,St. John's
7,25.0,David Jones García (TW),SF,6-6,210,"November 24, 2001",do DO,R,"DePaul, St. John's, Memphis"
8,55.0,Harrison Ingram (TW),SF,6-5,230,"November 27, 2002",us US,1,"Stanford, UNC"
9,7.0,Luke Kornet,C,7-2,250,"July 15, 1995",us US,8,Vanderbilt
10,0.0,Jordan McLaughlin,PG,6-0,185,"April 9, 1996",us US,6,USC
11,11.0,Carter Bryant,PF,6-8,220,"November 26, 2005",us US,R,Arizona
12,18.0,Bismack Biyombo,C,6-8,255,"August 28, 1992",cd CD,14,NaN
13,27.0,Riley Minix (TW),SF,6-7,230,"September 22, 2000",us US,1,"Southeastern University, Morehead State Univer..."
14,NaN,Lindy Waters III,SG,6-6,215,"July 28, 1997",us US,4,Oklahoma State
15,NaN,De'Aaron Fox,PG,6-3,185,"December 20, 1997",us US,8,Kentucky
16,NaN,Kelly Olynyk,C,6-11,240,"April 19, 1991",ca CA,12,Gonzaga
17,NaN,Jeremy Sochan,PF,6-8,230,"May 20, 2003",us US,3,Baylor

## Using pandas to get table data.

**Optional** - try using pandas to scrape a new site. See if you get errors or are able to find tables on that site.

---
---

## Using Beautiful Soup to get HTML code

### How to get data from static sites:

You should already have the packages bs4 and requests but if you get an error try running:

```{python}
!conda install -y bs4
!conda install -y requests
```

In [276]:
##!conda install -y bs4
##!conda install -y requests

In [277]:
import requests
from bs4 import BeautifulSoup

In [278]:
website = 'https://www.scrapethissite.com/pages/simple/'

In [279]:
raw_code = requests.get(website)
html_doc = raw_code.text
soup = BeautifulSoup(html_doc, 'html.parser')

#### Lets see what is in soup

**Q1** Uncomment this line and run the cell. You will see a TON of text!

In [280]:
#soup

### Extracting data from HTML:

We will use the **soup.find_all()** function.

Here is the simplified function signature:

    soup.find_all(name=None,attrs={})
    
You can type soup.find_all? and run it to see all the information about additional arguments and advanced processes.

**Here is how we will mostly use it**, but there are much more advanced things you can do:

    soup.find_all( <type of section>, <info> )
    
The **.find_all()** function searches through the information in soup to match and return only sections that match the info. Here are some important types you might search for:

- 'h2' - this is a heading
- 'div' - this divides a block of information
- 'span' - this divides inline information
- 'a' - this specifies a hyperlink
- 'li' - this is a list item

- class_= - many things have the class label (notice the underscore!)
- string= - you can also search by strings.


### Using Developer tools:

To figure out what data to extract I suggest you use developer tools on the website to find what you need. 

**Q2** Navigate to the website and use developer tools to explore the html code.

[Scrape This Site -  Website](https://www.scrapethissite.com/pages/simple/)

I really like Brave Browser or Google Chrome for this, but most browsers with have **More Tools/Developer Tools** where you can see the code.

### Search for all the country names

The names of the country are inside 
        
        <h3 class="country-name">

So lets search for this:

### Your turn to try this!

**Q3** Now it's your turn. See if you can write code that gets the population and area information into the data frame. See if you can make your example match what I get below, including having the correct data types. Population should be an int and area should be a float.

Your goal is to get a data frame that looks like the one in lecture with columns for country, capital, population, and area!

In [281]:
result = soup.find_all('h3',class_="country-name")
#print(result)

In [282]:
result[0]

<h3 class="country-name">
<i class="flag-icon flag-icon-ad"></i>
                            Andorra
                        </h3>

In [283]:
result[0].text

'\n\n                            Andorra\n                        '

In [284]:
result[0].text.lstrip().rstrip()

'Andorra'

In [285]:
result_2 = soup.find_all('span',class_="country-capital")

In [286]:
result_2[0]

In [287]:
result_2[0].text

'Andorra la Vella'

In [288]:
result_3 = soup.find_all('span',class_="country-population")

In [289]:
result_3[0]

In [290]:
result_4 = soup.find_all('span',class_="country-area")

In [291]:
result_4[0]

In [292]:
DF = pd.DataFrame()
DF['country']=result
DF['country'] =DF['country'].apply(lambda x: x.text.rstrip().lstrip())

In [293]:
DF['capital']=result_2
DF['capital'] = DF['capital'].apply(lambda x: x.text)

In [294]:
DF['population'] = result_3
DF['population'] = DF['population'].apply(lambda x: x.text)
DF['population'] = DF['population'].astype(int)

In [295]:
DF['area'] = result_4
DF['area'] = DF['area'].apply(lambda x: x.text)
DF['area'] = DF['area'].astype(float)
DF

                  country           capital  population       area
0                 Andorra  Andorra la Vella       84000      468.0
1    United Arab Emirates         Abu Dhabi     4975593    82880.0
2             Afghanistan             Kabul    29121286   647500.0
3     Antigua and Barbuda        St. John's       86754      443.0
4                Anguilla        The Valley       13254      102.0
..                    ...               ...         ...        ...
245                 Yemen             Sanaa    23495361   527970.0
246               Mayotte         Mamoudzou      159042      374.0
247          South Africa          Pretoria    49000000  1219912.0
248                Zambia            Lusaka    13460305   752614.0
249              Zimbabwe            Harare    11651858   390580.0

[250 rows x 4 columns]

In [296]:
DF.dtypes

country        object
capital        object
population      int64
area          float64
dtype: object

### Where can you get more practice

Here is a website dedicated to allowing students to practice webscraping:

[www.scrapethissite.com](https://www.scrapethissite.com/pages/)

    website=https://www.scrapethissite.com/pages/
-----------------
### Exercise 1:

We are going to scrape the site above to get the list of all links. 

Open the website and look at the developer tools.

Here is our goal: Make a pandas data frame that contains three columns: 

* "site_name" - which contains just the words of the link
* "link" - which contains just the website part of the link
* "description" - which contains the words below the link

When looking for links you can use

    result = soup.find_all('a')
    result[0].text # Get the text associated with the link
    result[0].get('href') # Get the link location



See if you can do this without looking at my code in the notes! What would your plan have to be?

**See the lecture notes for hints and the solution!**

In [354]:
website_2 = 'https://www.scrapethissite.com/pages/'

In [355]:
raw_code = requests.get(website_2)
html_doc = raw_code.text
soup = BeautifulSoup(html_doc, 'html.parser')

In [356]:
#soup

In [357]:
titles = soup.find_all('a')

In [358]:
#Gives me the titles
titles[7].text.lstrip().rstrip()

'Oscar Winning Films: AJAX and Javascript'

In [359]:
#Gets me the links
titles[5].get('href')

'/pages/simple/'

In [360]:
DF = pd.DataFrame()
DF['site_name'] = titles
DF['site_name'] = DF['site_name'].apply(lambda x: x.text.lstrip().rstrip())

DF['link'] = titles
DF['link'] = DF['link'].apply(lambda x: x.get('href'))
base_website = 'https://www.scrapethissite.com'
DF['link'] = DF['link'].apply(lambda x: base_website+x)

DF = DF.drop([0,1,2,3,4])

In [361]:
description = soup.find_all('p',class_="lead session-desc")
DF['description'] = description
DF['description'] = DF['description'].apply(lambda x: x.text.rstrip().lstrip())

DF

,site_name,link,description
5,Countries of the World: A Simple Example,https://www.scrapethissite.com/pages/simple/,A single page that lists information about all...
6,"Hockey Teams: Forms, Searching and Pagination",https://www.scrapethissite.com/pages/forms/,Browse through a database of NHL team stats si...
7,Oscar Winning Films: AJAX and Javascript,https://www.scrapethissite.com/pages/ajax-java...,Click through a bunch of great films. Learn ho...
8,Turtles All the Way Down: Frames & iFrames,https://www.scrapethissite.com/pages/frames/,Some older sites might still use frames to bre...
9,Advanced Topics: Real World Challenges You'll ...,https://www.scrapethissite.com/pages/advanced/,"Scraping real websites, you're likely run into..."

### Challenge Problem

Here is another website to scrape. See if you can create a data frame that looks like the one in the lecture notes. Notice that you can only scrape the first page with the first link. 

If you want to try scraping the other pages you have to notice how the website updates its address for each page. Then write a for loop to loop through how ever many pages you want to scrape. Do the same set of operations for each page keep adding data to your data frame.

Make a histogram of your final data.

In [362]:
website='https://books.toscrape.com/index.html'
raw_code = requests.get(website)
html_doc = raw_code.text
soup = BeautifulSoup(html_doc, 'html.parser')

**Try to scrape the name, the link to the book, and the prices! I decided to put the name and link information into a single column and then break that apart**